<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9987698489-hvti8fl04rcbsghhcddsdhare259tfcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9987698489-hvti8fl04rcbsghhcddsdhare259tfcu</string>
	<key>API_KEY</key>
	<string>AIzaSyAfxxvmvOL5nrsfWwxpCbJ8AO1GYA63OEE</string>
	<key>GCM_SENDER_ID</key>
	<string>9987698489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.showmaker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>showmaker-fdde8</string>
	<key>STORAGE_BUCKET</key>
	<string>showmaker-fdde8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9987698489:ios:9a6636b5ee4bf97f6282e8</string>
</dict>
</plist>